apache2=3.1.0
apt=2.8.1
bluepill=2.3.1
build-essential=2.2.3
chef-sugar=3.1.1
chef_handler=1.2.0
database=4.0.8
iis=4.1.1
mariadb=0.3.1
mysql2_chef_gem=1.0.2
mysql=6.1.0
nginx=2.7.6
ohai=2.0.1
openssl=4.3.2
packagecloud=0.0.19
php-fpm=0.7.4
php=1.7.1
postgresql=3.4.20
rbac=1.0.3
rsyslog=2.1.0
runit=1.7.2
selinux=0.9.0
smf=2.2.7
tar=0.7.0
windows=1.38.1
wordpress=3.0.0
xml=1.2.13
yum-epel=0.6.2
yum-mysql-community=0.1.17
yum=3.6.3